/* @tailwind base;
@tailwind components;
@tailwind utilities;

 */
/* Light mode (default) */
body {
  background-color: #ffffff;
  color: #111827;
}

/* Dark mode */
body.dark-mode {
  background-color: #020617;
  color: #e5e7eb;
}
